/*
To be discussed: 

> How are we going to express font sizes? px, pt, em?
> How to describe color? in hex or text name?
> How to handle the variations of plain text?
> How to handle indentations?
> Line spacing?
> Hyperlinks: Some are in bold, some not. How to handle style wise?
*/


.sorentry {
    color: black;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: 11px;

    /*
    Font: (Asian) Times New Roman, (Default) Arial, 8 pt, bold
    Complex Script Font: Times New Roman, Kern at 7 pt, 
    Indent:     
        Before:  0"     
        Hanging:  0.5", 
        Text Direction: Left-to-right, 
        Alignment: Left     
    Line spacing:  single, Space 
        Before:  5 pt, 
    Line and page breaks: Keep lines together     
    Tab stops:  0.5", Left   
    */
}

.sornorm {
    color: #000000;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;

    /* 
    Font: (Asian) Times New Roman, (Default) Arial, 8 pt, 
    Complex Script Font: Times New Roman, Kern at 7 pt, 
    Indent:     
        Before:  0.5", 
        Text Direction: Left-to-right, 
        Alignment: Left 
    Line spacing:  single, 
    Line and page breaks: Keep lines together */
}

.sornote {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-size: 11px;
    margin-left: 20px;
    
    /* 
    Font: (Asian) Times New Roman, (Default) Arial, 8 pt, 
    Complex Script Font: Times New Roman, Kern at 7 pt, 
    Indent:     
        Before:  0.7", 
        Text Direction: Left-to-right, 
        Alignment: Left 
    Line spacing:  single, 
    Line and page breaks: Keep lines together */
}

.pageheader {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    /* 
    Font: (Asian) Times New Roman, (Default) Arial, 12 pt, bold
    Complex Script Font:Times New Roman, Kern at 7 pt,
    Language: Do not check spelling or grammar, 
    Text Direction: Left-to-right, 
    Alignment: Left
    Line spacing: single
    Tab stops: 3.25", Centered */
}

.pagesubheader{
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
}

.pageheader2{
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;

    /* 
    Font: (Asian) Times New Roman, (Default) Arial, 8 pt, 
    Complex Script Font:Times New Roman, Kern at 7 pt,
    Language: Do not check spelling or grammar, 
    Text Direction: Left-to-right, 
    Alignment: Left
    Line spacing: single
    Tab stops: 3.25", Centered */
}

.pagefooter {
    color: #000000;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-size: 11px; /* 14px */
    text-align: center;
    /* 
    Font: (Asian) Times New Roman, (Default) Arial, 8 pt, 
    Language: Do not check spelling or grammar, 
    Complex Script Font:Times New Roman, Kern at 7 pt, 
    Text Direction: Left-to-right, 
    Alignment: Left
    Line spacing: single
    Tab stops: 3.25", Centered, 
    Style: Linked, Priority: 100 
    */
}

a:link {
    color: blue;
    font-family: Arial, sans-serif;
    text-decoration: underline;
/*  font-weight: bold; */
    font-size: 11px;
}
a:visited {
    color: purple;
    font-family: Arial, sans-serif;
  /*  font-weight: bold; */
    font-size: 11px;
    text-decoration: underline;
}

.itmeet1 {
    color: #000000;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-size: 11px;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    /* 
    Font: (Asian) Times New Roman, (Default) Arial, 8 pt, Bold, 
    Complex Script Font: Times New Roman, Kern at 7 pt,
    Text Direction: Left-to-right, 
    Alignment: Centered
    Line spacing: single */
}

.itmeet2 {
    color: #000000;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-size: 11px;
    text-align: center;
    font-weight: normal;
    line-height: normal;
    /* 
    Font: (Asian) Times New Roman, (Default) Arial, 8 pt, 
    Complex Script Font: Times New Roman, Kern at 7 pt, 
    Text Direction: Left-toright,
    Alignment: Centered 
    Line spacing: single 
    */
}

.itpage1 {
    color: #000000;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-size: 11px; /* 8px */
    font-weight: normal;
    line-height: normal;
    /* 
    Font: (Asian) Times New Roman, (Default) Arial, 8 pt, 
    Complex Script Font: Times New Roman, Kern at 7 pt, 
    Indent:
        Before: 0"
        Hanging: 0.3",  
        Text Direction: Left-to-right,
    Alignment: Left
    Line spacing: single, 
    SpaceBefore: 8 pt, 
    Line and page breaks: Keep with next, Keep lines together
    Tab stops: 0.3", Left */
}

.itpage2 {
    color: #000000;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-size: 11px; 
    font-weight: normal;
    line-height: normal;
    
    /* 
    Font: (Asian) Times New Roman, (Default) Arial, 8 pt, 
    Complex Script Font: Times New Roman, Kern at 7 pt, 
    Indent:
        Before: 0.3"
        Hanging: 0.3",
        Text Direction: Left-to-right, 
        Alignment: Left
        Line spacing: single, 
        SpaceBefore: 3 pt, 
    Line and Page Breaks: Keep lines together
    Tab stops: 0.6", Left */
}

.itpage3 {
    color: #000000;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-size: 11px; /* 8px*/
    font-weight: normal;
    line-height: normal;
    
    /* 
    Font: (Asian) Times New Roman, (Default) Arial, 8 pt, 
    Complex Script Font: Times New Roman, Kern at 7 pt, 
    Indent:
        Before: 0.6"
        Hanging: 0.3", 
        Text Direction: Left-to-right, 
        Alignment: Left
    Line spacing: single, 
    SpaceBefore: 3 pt, 
    Line and Page Breaks: Keep lines together
    Tab stops: 0.9", Left */
}

.headstyle {
    color: black;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    /* 
    Font: (Asian) Times New Roman, (Default) Arial, 9 pt, Bold, 
    Language: Do not check spelling or grammar, 
    Complex Script Font:Times New Roman, Kern at 7 pt, 
    Text direction: Left-to-right, 
    Alignment: Left
    Line spacing: single, 
        SpaceBefore: 8 pt
        After: 3 pt, 
    Line and Page breaks: Keep lines together */
}

.subhstyle {
    color: #000000;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
    /* 
    Font: (Asian) Times New Roman, (Default) Arial, 9 pt, Bold, Underline, 
    Language: Do not check spelling or grammar, 
    ComplexScript Font: Times New Roman, Kern at 7 pt, 
    Text Direction: Left-to-right, 
    Alignment: Left
    Line spacing: single, 
        SpaceBefore: 3 pt, 
    Line and Page Breaks: Keep lines together */
}

.entrystyle {
    color: #000000;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-size: 11px;
    /* 
    Font: (Asian) Times New Roman, (Default) Arial, 8 pt,
    Language: Do not check spelling or grammar, 
    Complex Script Font:Times New Roman, Kern at 7 pt, 
    Indent:
        Before: 0.1"
        Hanging: 0.1", 
    Text Direction: Left-to-right, 
    Alignment: Left
    Line spacing: single, 
        SpaceBefore: 5 pt, 
    Line and Page Breaks: Keep lines together */
}

.notearea {
    font-family: Arial, sans-serif;
  /* 
    Font: (Asian) Times New Roman, (Default) Arial, 8 pt,
    Language: Do not check spelling or grammar, 
    Complex Script Font:Times New Roman, Kern at 7 pt, 
    Indent:
        Before: 0.1"
        First line: 0.3", 
    Text Direction: Left-to-right, 
    Alignment: Left
    Line spacing: single,  
    Line and Page Breaks: Keep lines together */  
}

.itshead {
    color: #000000;
    font-family: Arial, sans-serif;
    font-weight: bold;
    line-height: normal;
    font-size: 12px;
    /* 
    Font: (Asian) Times New Roman, (Default) Arial, 9 pt, Bold, 
    Language: Do not check spelling or grammar, 
    Complex Script Font:Times New Roman, Kern at 7 pt,
    Text Direction: Left-to-right, 
    Alignment: Left
    Line spacing: single, 
        SpaceBefore: 8 pt
        After: 3 pt, 
    Line and Page Breaks: Keep lines together */
}

.itssubhead {
    color: #000000;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-size: 11px; /* 8px */
    line-height: normal;
    /* 
    Font: (Asian) Times New Roman, (Default) Arial, 8 pt, 
    Language: Do not check spelling or grammar, 
    Complex Script Font:Times New Roman, Kern at 7 pt, 
    Indent:
        Before: 0.2", 
    Text Direction: Left-to-right, 
    Alignment: Left
    Line spacing: single, 
    Line and Page Breaks: Keep lines together */
}

.itsentry {
    color: #000000;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-size: 11px; /* 8px */
    font-weight: normal;
    line-height: normal;
    /* 
    Font: (Asian) Times New Roman, (Default) Arial, 8 pt,
    Language: Do not check spelling or grammar, 
    Complex Script Font:Times New Roman, Kern at 7 pt, 
    Indent:
        Before: 0.4"
        Hanging: 0.2", 
    Text Direction: Left-to-right, 
    Alignment: Left
    Line spacing: single, 
    Line and Page Breaks: Keep lines together */
}

.repshead {
    color: #000000;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    line-height: normal;
    /* 
    Font: (Asian) Times New Roman, (Default) Arial, 9 pt, Bold, 
    Complex Script Font: Times New Roman, Kern at 7 pt, 
    Text Direction: Left-to-right, 
    Alignment: Centered   
    Line spacing: single, 
        Space Before:  8pt 
        After: 3 pt, 
    Line and Page Breaks: Widow/Orphan control, Keep with next, Keep lines together */
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
Come back to this section!
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.symbolNote{
    color: #000000;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-size: 11px;
}

/*

.plaintext {
    color: #000000;
    font-family: "Courier New", Courier, serif;
    font-style: normal;
    font-size: 12pt;
}
.plaintexteight {
    color: #000000;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-size: 8pt;
    
}
.plaintextcentered {
    color: #000000;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-size: +8pt;
    text-align: center;
}
.plaintextunderlined {
    color: #000000;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-size: 8pt;
    text-decoration: underline;
}

.tab1 {
    margin-left: 20px; 
}
.tab2 {
    margin-left: 40px; 
}

span {
    display: block;
 }

span::after {
     content: attr(data-text);
    padding: 1px 8px;
}

.docSymbol {
    color: #000000;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 8pt;
    text-underline-position: below;
}
  

.repsheadarial {
    color: #000000;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-size: +12pt;
}

.complexarial {
    color: #000000;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-size: +8pt;
}

.latineight {
    color: #000000;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-size: 8pt;
}

h1 {
    font-weight: normal;
     column-span: all;
 }
 
 body {
     column-count: 2;
     column-gap: 20px;
     column-fill: auto;
     font: 75% georgia, sans-serif;
     font-family: 'Tangeine', serif;

     line-height: 1.88889;
     color: #080808; 
     background: white;
     margin: 0;
     padding: 0;
     text-align: justify;
 }
 
 p {
     margin-top: 0;
     text-align: justify;
 }
*/