{% extends "base.html" %}
    {% block title %} Index to Speeches – Subjects {% endblock %}
    {% block content %}
        <div class="separateColumn shadow">      
                <ul>
                {% for record in records | groupby('itshead') | sort %}    

                    <li><span> <strong>{{ record.grouper }}</strong></span>
                        <ol>

                            {% for element in record.list | groupby('itssubhead')  | sort %}
                                
                                <li><span> {{ element.grouper }}</span>
                                        <ol>
                                        {% for element2 in element.list | groupby('itsentry') | sort%}
                                           <span> {{ element2.grouper }}</span> - 
                                                        {% for element3 in element2.list%}
                                                            <a href="{{myURL}}{{ element3['docsymbol'] }}">{{ element3['docsymbol'] }}  </a> <br>
                                                        {% endfor %}
                                        {% endfor %}
                                        </ol>                               
                                </li>  
                            {% endfor %}                                 
                            <br>
                            </ol>
                    </li>  
                 {% endfor %}                                 
                </ul>
        </div>      
    {% endblock %}
