{% extends "base.html" %}
    {% block title %}Index to Speeches – Speakers {% endblock %}
    {% block content %}
        <div class="separateColumn shadow">      
                <ul>
                {% for record in records | groupby('itshead') | sort %}
                    <li><span> <strong>{{ record.grouper }}</strong></span>
                        <ol>
                            {% for element in record.list | groupby('itssubhead')| sort %}
                                
                                <li><span> {{ element.grouper }}</span>
                                        <ol>
                                        {% for element2 in element.list  %}
                                               <a href="{{myURL}}{{ element2['itsentry'] }}">{{ element2['itsentry'] }} </a> ;
                                       {% endfor %}
                                        </ol>                               
                                </li>  
                            {% endfor %}                                 
                            </ol>
                    </li>  
                 {% endfor %}                                 
                </ul>
        </div>   
    {% endblock %}   
