{% extends "base.html" %}
    {% block title %} Supplements to Official Records {% endblock %}
    {% block content %}
        <div class="separateColumn shadow"> 
            <ul>     
                {% for record in records %}    
                    <div >
                        <li>{{ record['sorentry'] }}<a href="http://undoc.un.org/{{ record['docSymbol'] }}">{{ record['docSymbol'] }}</a></li>
                        <li>{{ record['sornorm'] }}{{ record['sornote'] }}</li>
                    </div>                
                {% endfor %}                                 
            </ul>     
        </div>      
    {% endblock %}

