<!doctype html>

<html lang="en">



<head>

    <!-- Required meta tags -->

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/GA/styles.css') }}" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/GA/mansour.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/GA/cynthia.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/GA/yls.css') }}" />

    <title>List of Documents</title>

</head>

<body>

    <div>
        <p><a href="{{url_for('main')}}">Main Menu</a></p>
        <hr>
    </div>

    <div class="separateColumn shadow">

               

        {% for record in records  %}

        

        {% if record.docSymbol == "" %}



            <p><span class='sorentry'>{{ record['sorentry'] }}</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 

                <span class='symbolNote'>Symbol not used.</span></p>



        {% else %}



            <p>

            <span class='sorentry'>{{ record['sorentry'] }}</span>

        

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    

                    <span><a href="http://undoc.un.org/{{ record['docSymbol'] }}">{{ record['docSymbol'] }}</a></span>

                    </br>

                        <span class='sornorm'>{{ record['sornorm'] }}</span></br>

                        <span class='sornote'>{{ record['sornote'] }} </span>

                

            </p>



        {% endif %}

        {% endfor %}



    </div>



    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>



</html>