{% extends "base1.html" %}
    {% block title %} Main {% endblock %}
    {% block content %}

        <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

  <div class="container">
    <div class="jumbotron mt-3 txt-center">
      <h1>ITP display project</h1>
      <p class="lead"><h5>This sub project facilitates the display and styling of the ITP Sections along with transformed data from a “snapshot”.</h5></p>
    </div>

    <div class="shadow text-center">
          <h1> Pages available: </h1>
          <hr>
          <ol>
              <li> <a href="{{url_for('itpp_itpsor')}}"  onclick="loading();">Supplements to Official Records : itpsor </a></li>
              <li> <a href="{{url_for('itpp_itpitsc')}}" onclick="loading();">Index to Speeches – Corporate names / countries : itpitsc </a></li>
              <li> <a href="{{url_for('itpp_itpitsp')}}" onclick="loading();">Index to Speeches – Speakers : itpitsp</a></li>
              <li> <a href="{{url_for('itpp_itpitss')}}" onclick="loading();">Index to Speeches – Subjects : itpitss </a></li>
          </ol>
          <br>
          <hr>
          <br>
    </div>

</div>
{% endblock %}   